@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html{
  height: 100%;
  width: 100%;
}

body{
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia0.giphy.com%2Fmedia%2FUTS6HOANJvMDVX77i1%2Fsource.gif&f=1&nofb=1&ipt=59b506c73a3e3b6a6c86e4eb25e33d265f9af3f49cc416d8f5e37c38673fb9dc&ipo=images);
  background-size: cover;  
}

.container{
  background-color: black;
  margin: 0 auto;
  width: 500px;
  height: 500px;
  border:white solid 2px;
  border-radius: 10px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  overflow: auto;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}

.topbar{
  padding-top: 0;
  position: sticky;
  background-color: black;
  height: 10px;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom:white solid 2px;
}

.images{
  position: relative;
  left: 80%;
  top : -60px;
  width: 100px;
  background-color: black;
}

.topbar h4{
  position: relative;
  top: -14px;
}

